* {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}

/*
font-family: 'Balsamiq Sans', cursive;
font-family: 'Righteous', cursive;
*/
body {
    background-image: url('../img/black-textile.jpg');
    background-size: auto 100vh;
    height: 100vh;
    color: whitesmoke;
    /*font-family: Helvetica, Arial, sans-serif;*/
    font-family: 'Righteous', cursive;
 }

 @media (min-width: 310px) {
   body {
      font-size: 12px;
   }
} 
@media (min-width: 375px) {
   body {
      font-size: 14px;
   }
} 
@media (min-width: 425px) {
   body {
      font-size: 16px;
   }
} 
@media (min-width: 450px) {
      body {
         font-size: 22px;
      }
}   

 header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .menu {
    background: white;
    position: fixed;
    width: 100vw;
    top: 0;
    opacity: 0.75;
 }
 
 .menu ul {
    list-style: none;
    /* font-size: 23px; */
    font-weight: bold;
    height: 60px;
    display: flex;
    justify-content: space-between;
 }
 
 .menu li {
    /*padding: 20px; 
    width: 33%; */
    margin: auto 0px;
    text-align: center;
 }
 
 
 .menu a {
   text-decoration: none;
   color: black;
   display: block; /* senão não funciona o padding */
   padding: 0px 20px;
   
 }
 
 .menu a:hover {
   text-decoration: none;
   color: #888080;
   font-size: 1.1em;
 }
 
 .site-subtitle,
 .site-title {
    color: whitesmoke;
    text-align: center;
    font-size: 2.5em;
 }
 
 .portfolio {
    padding: 2em;
    height: 100vh;
 }

 .portfolio h2 {
    margin-bottom: 1.5em;
 }

 .portfolio .grid {
    display: grid;
    gap: 2em;
    text-align: center;
    height: 70vh; 
 }

 @media(min-width:550px){
   .portfolio .grid {    
      grid-template-columns: repeat(2, 240px);
   }
 }

 @media(min-width:880px){
   .portfolio .grid {    
      grid-template-columns: repeat(3, 240px);
      justify-content: center;
   }
 }
 .img-portfolio {
    width: 240px;
    height: 240px;
    text-align: center;    
    object-fit: cover;
    object-position: top right;
    border-radius: 5px;
    border: 1px solid;
 }
